<aside class="main-sidebar">
    <section class="sidebar">
        <ul class="sidebar-menu" data-widget="tree">
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-pencil"></i> <span>Генерировать</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_create_code') }}"><i class="fa fa-circle-o"></i> Код</a></li>
                    <li><a href="{{ path('admin_create_shop') }}"><i class="fa fa-circle-o"></i> Магазин</a></li>
                </ul>
            </li>
            <li class="treeview">
                <a href="#">
                    <i class="fa fa-search"></i> <span>Просмотр</span>
                    <span class="pull-right-container">
                        <i class="fa fa-angle-left pull-right"></i>
                    </span>
                </a>
                <ul class="treeview-menu">
                    <li><a href="{{ path('admin_show_code') }}"><i class="fa fa-circle-o"></i> Код</a></li>
                    <li><a href="{{ path('admin_show_shop') }}"><i class="fa fa-circle-o"></i> Магазин</a></li>
                </ul>
            </li>
        </ul>
    </section>
</aside>