{% extends 'admin/layout.html.twig' %}

{% block contentTitle %}
    Главная
    <small>панель управления</small>
{% endblock %}

{% block contentBreadcrumb %}
    <li><i class="fa fa-dashboard"></i> Главная</li>
{% endblock %}

{% block contentSection %}
    Главная страница администрационной панели.
{% endblock %}
